# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer,
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

reference/
.vscode/

# Ignore all starting with main
*.gz
*.sty
*.pdf
%OUTDIR%/main.bbl
main.bbl
main.synctex(busy)

data/raw/
data/graphs/eph
# images/
data/raw/base_enespersonas_2021.csv
data/raw/metadata_base_enespersonas.csv
main.*
!main.tex
images_new/
data/raw/base_enespersonas.csv
#ruff.toml
scripts/deprecated/
.snakemake/
logcat_old.txt
data/processed/eph
data/graphs/enes_all/caes/_random_graphs
data/diagrams/enes_all/caes/_persistence_diagram
!data/diagrams/enes_all/caes/_persistence_diagram/_hidalgo_disparity_filtration.csv
data/diagrams/enes_all/ciuo/_persistence_diagram
!data/diagrams/enes_all/ciuo/_persistence_diagram/_hidalgo_disparity_filtration.csv
data/graphs/enes_all/ciuo/_random_graphs
!images/enes_all/04_walt_test/walt_test_pvalue_summary.log
!images/enes_all/ciuo/_14_persistence_diagram_distance_hypothesis_test/_hidalgo_disparity_filtration.log
data/processed/enes_all_female.csv
data/processed/enes_all_male.csv
data/diagrams/enes_all_female/ciuo/_persistence_diagram/_hidalgo_disparity_filtration.csv
data/diagrams/enes_all_male/ciuo/_persistence_diagram/_hidalgo_disparity_filtration.csv
data/graphs/enes_all_female/bipartite.gexf
data/graphs/enes_all_female/ciuo/projection_hidalgo.gexf
data/graphs/enes_all_male/ciuo/projection_hidalgo.gexf
data/graphs/enes_all_male/bipartite.gexf
data/diagrams/enes_all_female
data/diagrams/enes_all_male
data/graphs/enes_all_female/caes/projection_hidalgo.gexf
data/graphs/enes_all_male/caes/projection_hidalgo.gexf
data/diagrams/eph
/test.*
data/diagrams/enes_2019/ciuo/_persistence_diagram/_hidalgo_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/configuration_model/_hidalgo_0_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/configuration_model/_hidalgo_1_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/configuration_model/_hidalgo_2_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/configuration_model/_hidalgo_3_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/configuration_model/_hidalgo_4_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/configuration_model/_hidalgo_5_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/configuration_model/_hidalgo_6_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/configuration_model/_hidalgo_7_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/configuration_model/_hidalgo_8_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/configuration_model/_hidalgo_9_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_0_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_1_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_2_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_3_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_4_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_5_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_6_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_7_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_8_disparity_filtration.csv
data/diagrams/enes_2019/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_9_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/_hidalgo_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/configuration_model/_hidalgo_0_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/configuration_model/_hidalgo_1_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/configuration_model/_hidalgo_2_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/configuration_model/_hidalgo_3_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/configuration_model/_hidalgo_4_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/configuration_model/_hidalgo_5_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/configuration_model/_hidalgo_6_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/configuration_model/_hidalgo_7_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/configuration_model/_hidalgo_8_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/configuration_model/_hidalgo_9_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_0_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_1_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_2_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_3_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_4_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_5_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_6_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_7_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_8_disparity_filtration.csv
data/diagrams/enes_2021/ciuo/_persistence_diagram/enhanced_configuration_model/_hidalgo_9_disparity_filtration.csv
data/graphs/enes_2019/bipartite.gexf
data/graphs/enes_2019/ciuo/projection_hidalgo.gexf
data/graphs/enes_2019/ciuo/_random_graphs/configuration_model/_hidalgo_0.gexf
data/graphs/enes_2019/ciuo/_random_graphs/configuration_model/_hidalgo_1.gexf
data/graphs/enes_2019/ciuo/_random_graphs/configuration_model/_hidalgo_2.gexf
data/graphs/enes_2019/ciuo/_random_graphs/configuration_model/_hidalgo_3.gexf
data/graphs/enes_2019/ciuo/_random_graphs/configuration_model/_hidalgo_4.gexf
data/graphs/enes_2019/ciuo/_random_graphs/configuration_model/_hidalgo_5.gexf
data/graphs/enes_2019/ciuo/_random_graphs/configuration_model/_hidalgo_6.gexf
data/graphs/enes_2019/ciuo/_random_graphs/configuration_model/_hidalgo_7.gexf
data/graphs/enes_2019/ciuo/_random_graphs/configuration_model/_hidalgo_8.gexf
data/graphs/enes_2019/ciuo/_random_graphs/configuration_model/_hidalgo_9.gexf
data/graphs/enes_2019/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_0.gexf
data/graphs/enes_2019/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_1.gexf
data/graphs/enes_2019/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_2.gexf
data/graphs/enes_2019/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_3.gexf
data/graphs/enes_2019/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_4.gexf
data/graphs/enes_2019/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_5.gexf
data/graphs/enes_2019/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_6.gexf
data/graphs/enes_2019/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_7.gexf
data/graphs/enes_2019/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_8.gexf
data/graphs/enes_2019/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_9.gexf
data/graphs/enes_2021/bipartite.gexf
data/graphs/enes_2021/ciuo/projection_hidalgo.gexf
data/graphs/enes_2021/ciuo/_random_graphs/configuration_model/_hidalgo_0.gexf
data/graphs/enes_2021/ciuo/_random_graphs/configuration_model/_hidalgo_1.gexf
data/graphs/enes_2021/ciuo/_random_graphs/configuration_model/_hidalgo_2.gexf
data/graphs/enes_2021/ciuo/_random_graphs/configuration_model/_hidalgo_3.gexf
data/graphs/enes_2021/ciuo/_random_graphs/configuration_model/_hidalgo_4.gexf
data/graphs/enes_2021/ciuo/_random_graphs/configuration_model/_hidalgo_5.gexf
data/graphs/enes_2021/ciuo/_random_graphs/configuration_model/_hidalgo_6.gexf
data/graphs/enes_2021/ciuo/_random_graphs/configuration_model/_hidalgo_7.gexf
data/graphs/enes_2021/ciuo/_random_graphs/configuration_model/_hidalgo_8.gexf
data/graphs/enes_2021/ciuo/_random_graphs/configuration_model/_hidalgo_9.gexf
data/graphs/enes_2021/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_0.gexf
data/graphs/enes_2021/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_1.gexf
data/graphs/enes_2021/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_2.gexf
data/graphs/enes_2021/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_3.gexf
data/graphs/enes_2021/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_4.gexf
data/graphs/enes_2021/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_5.gexf
data/graphs/enes_2021/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_6.gexf
data/graphs/enes_2021/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_7.gexf
data/graphs/enes_2021/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_8.gexf
data/graphs/enes_2021/ciuo/_random_graphs/enhanced_configuration_model/_hidalgo_9.gexf
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.1.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_30.0.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.1.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_30.0.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.134.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.1157.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.1551.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.1795.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.2078.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.2405.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.2784.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.3222.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.3729.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.4317.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.4997.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.5784.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.6694.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.7749.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.8969.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_1.0381.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_1.2016.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_1.3909.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_1.6099.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_1.8635.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_2.1569.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_2.4966.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_2.8898.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_3.3449.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_3.8717.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_4.4814.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_5.1872.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_6.0041.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_6.9496.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_8.0441.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_9.3109.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_10.7773.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_12.4746.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_14.4391.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_16.7131.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_19.3452.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_22.3918.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_hidalgo_0.05_25.9182.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.134.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.1157.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.1551.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.1795.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.2078.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.2405.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.2784.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.3222.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.3729.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.4317.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.4997.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.5784.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.6694.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.7749.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.8969.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_1.0381.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_1.2016.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_1.3909.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_1.6099.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_1.8635.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_2.1569.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_2.4966.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_2.8898.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_3.3449.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_3.8717.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_4.4814.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_5.1872.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_6.0041.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_6.9496.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_8.0441.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_9.3109.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_10.7773.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_12.4746.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_14.4391.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_16.7131.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_19.3452.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_22.3918.csv
data/processed/enes_all/ciuo/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_25.9182.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.1.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.134.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.1157.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.1551.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.1795.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.2078.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.2405.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.2784.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.3222.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.3729.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.4317.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.4997.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.5784.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.6694.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.7749.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_0.8969.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_1.0381.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_1.2016.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_1.3909.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_1.6099.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_1.8635.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_2.1569.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_2.4966.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_2.8898.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_3.3449.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_3.8717.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_4.4814.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_5.1872.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_6.0041.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_6.9496.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_8.0441.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_9.3109.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_10.7773.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_12.4746.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_14.4391.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_16.7131.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_19.3452.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_22.3918.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_25.9182.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_hidalgo_0.05_30.0.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.1.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.134.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.1157.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.1551.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.1795.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.2078.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.2405.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.2784.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.3222.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.3729.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.4317.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.4997.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.5784.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.6694.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.7749.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_0.8969.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_1.0381.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_1.2016.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_1.3909.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_1.6099.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_1.8635.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_2.1569.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_2.4966.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_2.8898.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_3.3449.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_3.8717.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_4.4814.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_5.1872.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_6.0041.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_6.9496.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_8.0441.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_9.3109.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_10.7773.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_12.4746.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_14.4391.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_16.7131.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_19.3452.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_22.3918.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_25.9182.csv
data/processed/enes_all/caes/_compute_resolution_sensitivity/_df_scores_hidalgo_0.05_30.0.csv
