pandas==2.3.3
numpy==2.4.4
networkx==3.6.1
matplotlib==3.10.8
seaborn==0.13.2
openpyxl==3.1.5
scipy==1.17.1
plotly==6.6.0 #NOTE: requiere sudo apt install chromium, descomentar rule 06_ si no
kaleido==1.2.0
snakemake==9.19.0
scikit-learn==1.8.0
ripser==0.6.14
gudhi==3.12.0
infomap==2.9.2
bs4==0.0.2
xlrd==2.0.2
statsmodels==0.14.6
nx-cugraph-cu12==26.4.0
